{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'crews/css/styles.css' %}">
    <link rel="icon" href="{% static 'crews/img/mugiwara.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    a{
        font-size: 20px;
    }
</style>
<body style="background-image: url('{% static 'crews/img/bg.png' %}'); background-size: cover;" onload="load()">
<header>
    <nav style="height: 50px; align-items: center;">
        <div><a href="/crews/" class="top_link">All crews</a></div>
        <div><a href="/islands/" class="top_link">All islands</a></div>
        <div><a href="/regions/" class="top_link">All regions</a></div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    Crewsures 2023
</footer>
</body>
</html>