{% extends 'crews/base.html' %}{% block title %}Crews{% endblock %}{% block content %}<h2>Here are the crews available
    (click to see details)</h2>
<div class="list_elements">
    {% for crew in crews %}
    <a href="/crews/{{crew.crew_id}}" style="    margin-right: 50px;">
        <div class="block" style="background-image: url('{{ crew.crew_pic.url }}')"></div>
        <div style="color: black; display: flex; justify-content: center;">{{ crew.crew_name }}</div>
    </a>
    {% endfor %}
</div>{% endblock %}