{% extends 'crews/base.html' %}
{% block title %}Crew's details{% endblock %}

{% block content %}
<h2>Info : </h2>
<p>{{ crew }}</p>
<form action="/crews/{{crew.crew_id}}/addIsland/" method="post">
    {% csrf_token %}}
    {{ formulaire.as_div }}
    <input type="submit" value="Add this island">
</form>
<div class="list_elements">
    {% for island in island_list %}
    <div class="block">
        <a href="/islands/{{ island.id }}/" class="inside_block"> <img src="{{ island.pic.url }}" width='200'
                                                                     alt="The picture of the {{ island.name }}"/>
            <div style="color: black; display: flex; justify-content: center;">{{ island.name }}</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}