{% extends 'crews/base.html' %}{% block title %}Crew's details{% endblock %}{% load static %}{% block content %}
<div style="display: flex; justify-content: space-between;">
    <div></div>
    <p class="title_name">{{ crew }}</p>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <a href="/crews/{{crew.crew_id}}/update/">
            <div class="button" style="background-image: url('{% static 'crews/img/modify.png' %}')"></div>
        </a> <a href="/crews/{{crew.crew_id}}/delete/">
        <div class="button" style="background-image: url('{% static 'crews/img/delete.png' %}');"></div>
    </a>
    </div>
</div>
<form action="/crews/{{crew.crew_id}}/addIsland/" method="post">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; width: 260px;">
        {% csrf_token %} {{ formulaire.as_div }} <input type="submit"
                                                        style="background: url('{% static 'crews/img/add.png' %}');background-size: cover;background-position: center center;"
                                                        value="" class="adding_island_button">
    </div>
</form>
<div class="list_elements">
    {% for island in island_list %}
    <div>
        <a href="/crews/{{ crew.crew_id }}/deleteIsland/{{ island.has_id }}/">
            <div class="cross">
                X
            </div>
        </a>
        <a href="/islands/{{island.id}}" style="margin: 0 30px; width: 150px;background-image: url('{{ island.pic.url }}'); display: flex; flex-direction: row;" class="block"></a>
        <div style="color: black; display: flex; justify-content: center; word-break: break-word; text-align: center;">
            {{ island.name }}
        </div>
    </div>
    {% endfor %}
</div>{% endblock %}