{% extends 'crews/base.html' %}
{% block title %}
Island modification
{% endblock %}
{% load static %}
{% block content %}

<style>
    a{
        color: black;
    }

    .file_upload{
        position: relative;
        top: -20px;
        right: -60px;
        background: url('{% static 'crews/img/upload.png' %}');
        background-size: cover;
        background-position: center center;
    }
</style>

<h2>Island modification</h2>
<form action="/islands/{{island.island_id}}/updated/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <label for="id_island_pic" class="file_upload"></label>
    <input type="submit" value="Modificate my island" style="margin-top: -5px;">
</form>

<script>
    function load() {
        console.log("coucou");
        input = document.getElementById("id_island_pic");
        input.style.visibility = "hidden";
        input.value = "";
    }
</script>

{% endblock %}