{% extends 'crews/base.html' %}
{% block title %}Island's details{% endblock %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: space-between;">
    <div></div>
    <p class="title_name">{{ island }}</p>
    <div style="display: flex; flex-direction: row;">
        <a href="/islands/{{island.island_id}}/update/">
            <div class="button" style="background-image: url('{% static 'crews/img/modify.png' %}')"></div>
        </a>
        <a href="/islands/{{island.island_id}}/delete/">
            <div class="button" style="background-image: url('{% static 'crews/img/delete.png' %}');"></div>
        </a>
    </div>
</div>
<div style="display: flex; flex-direction: column; width: 200px; justify-content: left;">
    <a href="/regions/{{region.region_id}}/" style="margin: 0 30px; width: 150px;background-image: url('{{ region.region_pic.url }}'); display: flex; flex-direction: row;" class="block"></a>
    <div style="color: black; word-break: break-word; text-align: center;">
        {{ region.region_name }}
    </div>
</div>
{% endblock %}