{% extends 'crews/base.html' %}{% block title %}Islands{% endblock %}{% block content %}<h2>Here are the islands
    available (click to see details)</h2>
<div class="list_elements">
    {% for island in islands %}
    <div class="block">
        <a href="/islands/{{island.island_id}}" class="inside_block">
            <img src="{{ island.island_pic.url }}" width='200' alt="The picture of a {{ island.island_name }}"/>
            <div style="color: black; display: flex; justify-content: center;">{{ island.island_name }}</div>
        </a>
    </div>
    {% endfor %}
</div>{% endblock %}