{% extends 'crews/base.html' %}{% block title %}Islands{% endblock %}{% load static %}
{% block content %}<h2 class="title">All Islands</h2>
<div class="list_elements">
    <a href="/islands/add/" class="bulle">
        <div class="block" style="background-image: url('{% static 'crews/img/add.png' %}')"></div>
    </a>
    {% for island in islands %}
    <a href="/islands/{{island.island_id}}" style="margin: 0 50px; width: 150px;">
    <div class="block" style="background-image: url('{{ island.island_pic.url }}')"></div>
    <div style="color: black; display: flex; justify-content: center; word-break: break-word; text-align: center;">
        {{ island.island_name }}
    </div>
</a> {% endfor %}
</div>{% endblock %}