html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
}

.block {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.list_elements {
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}

.bulle {
    margin: 0 50px;
    width: 150px;
}

.legend {
    color: black;
    display: flex;
    justify-content: center;
    word-break: break-word;
    text-align: center;
}

.title_name{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    margin-right: 10px;
}

.submit{
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}

select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    text-align: center;
    border: 1px solid black;
    background-color: transparent;
    height: 40px;
    border-radius: 50px;
}

.adding_island{
    margin-bottom: 30px;
    margin-left: 50px;
}

.adding_island_button{
    border: 0;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}