html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
}

.block {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center center;
}

.list_elements {
    display: flex;
    flex-wrap: wrap;
}